.sort-by {
  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &--sort-label {
    text-transform: uppercase;
    color: $color-white;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;

    &::after {
      content: '\25bc';
      margin-left: 10px;
      color: $color-red;
    }
  }

  &--label {
    text-transform: uppercase;
    color: $color-grey;
    font-size: 18px;
    line-height: 1;
    margin-right: 30px;
  }

  &--list {
    display: none;
  }
}
