.sort-by {
  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 305px;

    & .dropdown__control {
      background-color: transparent !important;
      border-color: transparent !important;
    }

    & .dropdown__single-value {
      text-transform: uppercase;
    }
  }

  &--label {
    text-transform: uppercase;
    color: $color-grey;
    font-size: 18px;
    line-height: 1;
    margin-right: 15px;
    width: 120px;
  }
}
