@import './variables.scss';
@import './mixins.scss';

@import '../components/Components.scss';

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}