.dropdown {
  &--wrapper {
    width: 100%;
  }

  &__control {
    background-color: $color-dark-grey !important;
    border-color: $color-dark-grey !important;
    min-height: 50px !important;
  }

  &__single-value {
    color: $color-white !important;
    font-size: 20px;
  }

  &__menu-list {
    width: 100%;
    background-color: $color-dark;
  }

  &__option {
    font-size: 20px !important;
    color: $color-white !important;
    background-color: $color-dark !important;

    &:hover {
      background-color: $color-red !important;
    }
  }

  &__indicator-separator {
    display: none;
  }

  &__dropdown-indicator {
    color: $color-red !important;
  }
}
