.modal {
  backdrop-filter: blur(10px);

  & .modal-content {
    color: $color-white;
    margin: auto;
    font-size: 1.2rem;
    padding-bottom: 40px;
    background-color: #232323;
    width: 75%;
    padding: 0;
  }

  & .modal-header {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: $color-white;
    border: 0;
    margin-bottom: 20px;
    padding-left: 50px;
    text-transform: uppercase;
    font-size: 26px;

    & > button {
      font-weight: 300;
      font-size: 40px;
      color: $color-white;
      margin-right: 5px;
      padding: 0;

      & > span:first-child {
        display: flex;
        margin-top: -8px;
      }
    }
  }

  & .modal-footer {
    border: 0;
    padding: 50px;
  }

  & .modal-body {
    padding: 0 50px;
  }

  &--button-primary {
    min-width: 180px;
    height: 55px;
    font-size: 22px;
    color: $color-white;
    background-color: $color-red;
  }

  &--button-secondary {
    min-width: 180px;
    height: 55px;
    font-size: 22px;
    background: transparent;
    color: $color-red;
    border-radius: 4px;
    border: 1px solid $color-red;
    margin-right: 8px;

    &:hover {
      color: $color-white;
      background-color: $color-red;
    }
  }
}
