.filter-genres {
  &--list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 50px;
  }

  &--item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 5px;
    text-transform: uppercase;
    color: $color-white;
    font-size: 18px;
    letter-spacing: 0.8px;
    cursor: pointer;
    border-bottom: 2px solid $color-grey;
  }

  &--item-active {
    border-bottom-color: $color-red;
  }
}
