@import './components/Components.scss';

.date-picker {
  &--wrapper {
    width: 100%;
  }
}

.react-datepicker,
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__month-container,
.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper {
  width: 50%;
}
