.movie-card {
  &--item {
    display: flex;
    flex-direction: column;
    width: 335px;
    position: relative;
    margin-bottom: 40px;

    &:nth-child(3n-1) {
      margin-left: 47px;
      margin-right: 47px;
    }

    &:hover {
      .movie-card {
        &--action-button {
          display: flex;
        }
      }
    }
  }

  &--image {
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
  }

  &--description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: $color-white;
  }

  &--title {
    text-transform: capitalize;
    font-size: 18px;
  }

  &--release-date {
    width: auto;
    height: min-content;
    padding: 3px 10px;
    border: 1px solid $color-grey;
    border-radius: 3px;
    font-size: 14px;
  }

  &--genre {
    color: $color-grey;
    font-size: 14px;
  }

  &--action-button {
    @include flexCenterCenter;

    display: none;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    background-color: $color-dark;

    &:focus,
    &:active {
      outline: none;
    }

    & > svg {
      color: $color-white;
    }
  }

  &--menu {
    right: 10px !important;
    top: 50px !important;
  }
}
