.movie-list {
  &--wrapper {
    margin-bottom: 10px;
    position: relative;
  }

  &--results-count {
    color: $color-white;
    font-weight: normal;
    font-size: 22px;
    margin: 25px 0;
  }

  &--count {
    font-weight: bold;
  }

  &--list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
  }

  .spinner-border {
    color: $color-red;
    color: red;
    position: absolute;
    top: 40%;
    left: 50%;
  }
}
